= form_for @game do |f|
  - if @game.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :proponent
    = f.text_field :proponent
  .form-group
    = f.label :opponent
    = f.text_field :opponent

  .actions
    = f.submit 'Save'
