%h1 Listing games

%table.table
  %thead
    %tr
      %th Proponent
      %th Opponent
      %th Status
      %th
      %th
  %tbody
    - @games.each do |game|
      %tr
        %td= game.proponent
        %td= game.opponent
        %td= game.status
        %td= link_to 'Show', game
        %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Game', new_game_path
