%p#notice= notice

%h2
  = @game.proponent
  vs.
  = @game.opponent

%table
  %tbody
    %tr
      %td
        = link_to game_path(@game, play: 'tl'), :method => :put do
          - image_tag Game.image(@game.tl)
      %td
        = link_to game_path(@game, play: 'tc'), :method => :put do
          - image_tag Game.image(@game.tc)
      %td
        = link_to game_path(@game, play: 'tr'), :method => :put do
          - image_tag Game.image(@game.tr)
    %tr
      %td
        = link_to game_path(@game, play: 'ml'), :method => :put do
          - image_tag Game.image(@game.ml)
      %td
        = link_to game_path(@game, play: 'mc'), :method => :put do
          - image_tag Game.image(@game.mc)
      %td
        = link_to game_path(@game, play: 'mr'), :method => :put do
          - image_tag Game.image(@game.mr)
    %tr
      %td
        = link_to game_path(@game, play: 'bl'), :method => :put do
          - image_tag Game.image(@game.bl)
      %td
        = link_to game_path(@game, play: 'bc'), :method => :put do
          - image_tag Game.image(@game.bc)
      %td
        = link_to game_path(@game, play: 'br'), :method => :put do
          - image_tag Game.image(@game.br)

= link_to 'Back', games_path
